
            .demo{

                position:fixed;

                top: 0;

                left: 0;

                width:100%;

                height:100%;

                min-width: 1000px;

                z-index:-10;

                zoom: 1;

                background-color: #fff;

                background: url('../images/addcourse.jpg');

                background-repeat: no-repeat;

                background-size: cover;

                -webkit-background-size: cover;

                -o-background-size: cover;

                background-position: center 0;



            }
            .a1{
                color:#9900FF;
                font-size:24px;
                text-decoration: none;
                font-family: "华文新魏";
            }
            .a1:hover{
                color:#9900FF;
                text-decoration:underline;
                font-size:24px;
                font-family: "华文新魏";
            }
            .a1:link{
                color:#9900FF;
                font-size:24px;
                text-decoration: none;
                font-family: "华文新魏";
            }